.projects {
    .card {
        max-height: 200px;

        img {
            max-height: 200px;
            object-fit: cover;
            object-position: top;
            border-radius: 5px;
        }

        .card-title {
            font-weight: 700;
            font-size: 24px;
            color: $white;
            // opacity: 0.0;
            // transition: all 500ms ease-in-out;

            span {
                background: $black;
                border-radius: 5px;
                padding: 5px 10px;
            }
        }
    }

    // &:hover + .card-title {
    //     opacity: 1.0;
    // }

    .project-title {
        .number {
            font-size: $size-md;
            color: $gray;
            font-weight: 700;
        }

        .title {
            font-size: $size-xl;
            font-weight: 700;
        }
    }

    .link {
        color: $black;
        font-weight: 700;
    }
    

}