$size-sm: 12px;
$size-md: 14px;
$size-xl: 18px;

$inter-font: 'Inter', sans-serif;

$blue-100: #3056D3;
$blue-75: #5D79D7;
$blue-50: #8B9EDC;
$blue-25: #B7C0E0;

$white: #FFFFFF;
$black: #000000;
$gray: rgb(107 114 128);